.cd-prices__container.bhAutoComplete {
  width: 100%;
  padding: 10px 16px;
}

.bhDrawer-searchTitle__span {
  padding: 15px 10px 8px;
  margin: 0px;
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(33, 33, 33);
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  text-align: left;
}
.bhDrawer-searchTitle__span:first-child {
  padding-top: 0px;
}

@media (max-width: 800px) {
  .ant-picker-panels {
    flex-direction: column;
  }
}
