.container__wrapper.commerce.cc * {
  font-family: "Poppins", sans-serif;
}

.container__wrapper.cc .cc-title_divider.MuiDivider-root {
  margin-top: 20px;
}

.cc-title__leftSpan {
  margin: 0px;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(33, 33, 33);
  font-family: "Poppins", sans-serif;
  line-height: 1.75;
}

.ct-header__container .MuiTableCell-head {
  font-family: "Poppins", sans-serif;
  font-size: 0.825rem;
  color: rgb(33, 33, 33);
  font-weight: 500;
}

.ct-rowProduct_container {
  display: flex;
  align-items: center;
}

.ct-rowProduct-titleSpan {
  display: block;
  margin: 0px;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(33, 33, 33);
  font-family: "Poppins", sans-serif;
  line-height: 1.75;
}

.ct-rowProduct-subTitleSpan {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  margin: 0px;
  color: rgb(158, 158, 158);
  line-height: 1.57;
  font-weight: 400;
}
.ct-rowProduct_wrapper {
  padding-left: 10px;
}

.ct-rowProduct_img {
  width: 50px;
  height: 50px;
}

.ct-btnGrp-btnLeft.MuiButtonGroup-groupedOutlinedHorizontal:not(:last-child) {
  border-right: 0;
  font-size: 20px;
  color: rgb(158, 158, 158);
  font-weight: bold;
  padding: 0;
}

.ct-btnGrp-btnRight.MuiButtonGroup-groupedOutlinedHorizontal:not(:first-child) {
  border-left: 0;
  padding: 0;
  font-size: 15px;
  color: rgb(158, 158, 158);
  font-weight: bold;
}

.ct-btnGrp-btnRight.span.MuiButtonGroup-groupedOutlinedHorizontal:not(:first-child) {
  font-family: "Poppins", sans-serif;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  color: red;
  color: rgb(97, 97, 97);
}

.ct-header__container
  .ct-tblRow__container:last-of-type
  .ct-tableCell__wrapper {
  border-bottom: 0;
}

.cb-container__wrapper {
  margin-top: 30px;
}

.reservationDetails-body__span__label.cb {
  font-weight: 300;
}

.reservationDetails-body__wrapper.cb {
  padding: 0px 10px;
}

/* FOOTER */

.cf-container__wrapper {
  margin-top: 10px;
}
.cf-button__container,
.cf-button__container button {
  width: 100%;
}
.cf-button__container .MuiButton-containedPrimary,
.cf-button__container .MuiButton-containedPrimary:hover {
  font-family: "Poppins", sans-serif;
  background-color: rgb(33, 150, 243);
  font-weight: 600;
  font-size: 13px;
}

.cf-btn__getOrders.MuiButton-textPrimary {
  color: rgb(97, 97, 97);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
/* MODAL */
.cd-modal__wrapper .ant-modal-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.cd-modal__wrapper .ant-modal-body {
  padding: 16px;
}

.cd-mattress__war,
.cd-mattress__autoComplete {
  margin: 5px 15% 0 15%;
}
.cd-mattress__autoComplete {
  padding-top: 10px;
}

.cd-mattress__button {
  padding-top: 30px;
  text-align: end;
}
.cd-mattress__buttonWrapper {
  width: 100px;
  height: 35px;
}
.cd-mattress__buttonWrapper.MuiButton-containedPrimary {
}

@media screen and (max-width: 600px) {
  .ct-rowProduct-titleSpan {
    font-size: 0.625rem;
  }
  .ct-rowProduct-subTitleSpan {
    font-size: 0.6rem;
  }
}
