.inventoryDrawer__container {
  min-width: 500px;
}

.id-reservation-title__container {
  display: flex;
  justify-content: space-between;
}

.id-reservation-title__container .header-label__wrapper label:first-child {
  padding-right: 0;
  font-size: 1rem;
}

.idr-title__avatar {
  background-color: white;
  color: #b39ddb;
}

.id-reservationCustomer__container {
  margin: 15px 0;
}

.id-drawer__container {
  width: 500px;
}

@media (min-width: 600px) {
  .id-tabs__container .MuiTab-root {
    min-width: 0px;
  }
}

@media screen and (max-width: 530px) {
  .id-drawer__container {
    width: 400px;
  }
}

@media screen and (max-width: 430px) {
  .id-drawer__container {
    width: 300px;
  }
}
