.counter-btnGrp__container {
  text-align: center;
}

.counter-spanHeader__wrapper {
  padding-left: 10px;
  padding-top: 5px;
}

.counter-span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: rgb(23, 43, 77);
  cursor: default;
}

.counter__wrapper {
  display: flex;
  padding-bottom: 2px;
  max-width: 299px;
}

.counter__container .MuiButton-containedSizeSmall {
  font-size: 1rem;
}

.counter-spanHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: rgb(23, 43, 77);
}
.counter-span__wrapper {
  width: 100vw;
  position: inherit;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter__wrapper .counter-btn {
  background-color: #e57373;
}

.counter__wrapper .counter-btn.pos {
  background-color: #7986cb;
}

@media screen and (min-width: 600px) {
  .counter__wrapper {
    max-width: 397px;
  }
}
