.rrPickerLbl {
  display: block;
  font-weight: 300;
  font-size: 0.775rem;
  top: -5px;
  position: relative;
}

.counter-spanHeader__wrapper {
  display: flex;
  justify-content: space-between;
}
.rrInLabel {
  font-weight: 300;
  font-size: 0.775rem;
}

.roomPicker__container .counter-spanHeader {
  padding-bottom: 5px;
  cursor: default;
}
.picker-body__container .ant-collapse {
  background-color: #e3f2fd;
}

.picker-body__container .ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #d7ccc8;
}

.picker-body__container
  .ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header,
.roomSpin__container {
  min-width: 540px;
}
.counter-spanInLabel__container {
  text-align: right;
}

.picker-body__container .ant-collapse-content-box {
  padding: 0;
}
.picker-body__rooms {
  padding: 10px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7ccc8;
}
.picker-body__rooms:last-of-type {
  border-bottom: 0px;
}

.counter-spanHeader.rrRoomLbl {
  font-size: 0.85rem;
  margin-bottom: 0;
  max-width: 110px;
  margin-right: 10px;
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
}

.picker-body-rooms__dateWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  overflow-x: auto;
  max-width: 400px;
}

.picker-body-rooms__dateBox {
  background-color: #fafafa;
  width: 35px;
  height: 100%;
  cursor: pointer;
  border: 1px solid #d7ccc8;
  margin-left: 2px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: center;
}

.picker-body-rooms__dateBox:hover {
  background-color: #e3f2fd;
  transition: background-color 0.4s ease-in;
}

.picker-body-rooms__dateBox.selected {
  background-color: #e3f2fd;
}

.picker-body-rooms__dateBox.disabled {
  cursor: not-allowed;
  background-color: #d7ccc8;
  text-decoration: line-through !important;
}

.picker-body-rooms__dateBox.checkInOnly {
  background-color: #ffecb3;
}

.picker-body-rooms__dateBox.active {
  /* background-color: #e3f2fd; */
  background-color: #757575;
  color: white;
}

.picker-body-rooms__dateBox.beforeStartDate {
  background-color: #d7ccc8;
  cursor: not-allowed;
  text-decoration: line-through !important;
  transition: background-color 0.2s ease-in;
}

.picker-body-rooms__dateBox.middleSelectedDates {
  background-color: #e3f2fd;
  transition: background-color 0.2s ease-in;
}

@media screen and (max-width: 420px) {
  .counter-spanHeader.rrRoomLbl {
    font-size: 0.75rem;
    text-align: center;
    max-width: 100px;
  }
  .counter-spanHeader__headerContainer {
    width: 140px;
  }
}

@media screen and (max-width: 350px) {
  .counter-spanHeader.rrRoomLbl {
    max-width: 80px;
  }
}
