.MuiStepper-root {
  padding-top: 0;
}

.footer-label__span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #484848;
  padding-left: 5px;
}

.footer-label__span.rdRstep {
  margin-left: 15px;
}

.footer-label__div.rdStep {
  min-width: 400px;
}
