.arp__span {
  color: #1890ff;
}

.rar-container.arm {
  /* width: 90%; */
  margin: auto;
}

.pBody-title__wrapper {
  padding: 10px;
  padding-bottom: 15px;
  display: block;
  text-align: center;

  font-size: 15px;
  letter-spacing: 3px;
  color: #484848;
  font-weight: 600;
}
